In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns 

seed = 1
np.random.seed(seed) # ensure same result for testing purpose

In [3]:
#load the dataset
cardiovascular = pd.read_csv('dataset.csv')

# Data Exploration and Visualizing

In [11]:
cardiovascular.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  2100 non-null   object
 1   Age                     2100 non-null   int64
 2   Height(cm)              2100 non-null   float64
 3   Weight(kg)              2100 non-null   float64
 4   Family_history          2100 non-null   object
 5   Alcohol                 2100 non-null   object
 6   Junk_food               2100 non-null   object
 7   Vege_day                2100 non-null   int64
 8   Meals_day               2100 non-null   int64
 9   Snack                   2100 non-null   object
 10  Smoking                 2100 non-null   object
 11  Water_intake(L)         2100 non-null   float64
 12  Transportation          2100 non-null   object
 13  Exercise                2100 non-null   int64
 14  TV                      2100 non-null   object
 15  Income                  2100 non-null   int64
 16  Discipline              2100 non-null   object
 17  Cardiovascular_risk(y)  2100 non-null   object
dtypes: float64(3), int64(5), object(10)
memory usage: 295.4+ KB

In [12]:
print(cardiovascular.head()) # First 5 data
cardiovascular_shape = cardiovascular.shape
row_count = cardiovascular_shape[0]
col_count = cardiovascular_shape[1]
print(f"Shape: {cardiovascular_shape}")
print(f"Total of {row_count} records")
print(f"Total of {col_count} Columns")

   Gender  Age  Height(cm)  Weight(kg) Family_history Alcohol Junk_food  \
0  Female   42       172.2        82.9             no     low       yes
1  Female   19       175.3        80.0            yes    none       yes
2  Female   43       158.3        81.9            yes    none       yes
3  Female   23       165.0        70.0            yes     low        no
4    Male   23       169.0        75.0            yes     low       yes

   Vege_day  Meals_day      Snack Smoking  Water_intake(L) Transportation  \
0         3          3  Sometimes      no             2.72            car
1         2          1  Sometimes      no             2.65            bus
2         3          1  Sometimes      no             1.89            car
3         2          1  Sometimes      no             2.00            bus
4         3          3  Sometimes      no             2.82            bus

   Exercise        TV  Income Discipline Cardiovascular_risk(y)
0         3      rare    2081         no                 medium
1         3  moderate    5551         no                 medium
2         1      rare   14046         no                   high
3         0      rare    9451         no                 medium
4         1     often   17857         no                 medium
Shape: (2100, 18)
Total of 2100 records
Total of 18 Columns

In [16]:
# Check for null values
cardiovascular.isnull().any()

Gender                    False
Age                       False
Height(cm)                False
Weight(kg)                False
Family_history            False
Alcohol                   False
Junk_food                 False
Vege_day                  False
Meals_day                 False
Snack                     False
Smoking                   False
Water_intake(L)           False
Transportation            False
Exercise                  False
TV                        False
Income                    False
Discipline                False
Cardiovascular_risk(y)    False
dtype: bool

In [30]:
# Seperates to categorial and numberics for visualization purpose
cardiovascular_num = cardiovascular.select_dtypes(exclude="object")
cardiovascular_cat = cardiovascular.select_dtypes(include="object")
print(cardiovascular_num.info(), end="\n\n")
print(cardiovascular_cat.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              2100 non-null   int64
 1   Height(cm)       2100 non-null   float64
 2   Weight(kg)       2100 non-null   float64
 3   Vege_day         2100 non-null   int64
 4   Meals_day        2100 non-null   int64
 5   Water_intake(L)  2100 non-null   float64
 6   Exercise         2100 non-null   int64
 7   Income           2100 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 131.4 KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2100 entries, 0 to 2099
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  2100 non-null   object
 1   Family_history          2100 non-null   object
 2   Alcohol                 2100 non-null   object
 3   Junk_food               2100 non-null   object
 4   Snack                   2100 non-null   object
 5   Smoking                 2100 non-null   object
 6   Transportation          2100 non-null   object
 7   TV                      2100 non-null   object
 8   Discipline              2100 non-null   object
 9   Cardiovascular_risk(y)  2100 non-null   object
dtypes: object(10)
memory usage: 164.2+ KB
None

In [27]:
cardiovascular_num.describe()

,Age,Height(cm),Weight(kg),Vege_day,Meals_day,Water_intake(L),Exercise,Income
count,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000,2100.000000
mean,24.302381,170.148286,86.561571,2.423333,2.687143,2.007429,1.006190,9432.386190
std,6.342270,9.340941,26.192242,0.584318,0.810088,0.613122,0.894885,5002.350673
min,14.000000,145.000000,39.000000,1.000000,1.000000,1.000000,0.000000,1000.000000
25%,20.000000,163.000000,65.400000,2.000000,3.000000,1.577500,0.000000,4994.500000
50%,23.000000,170.000000,83.000000,2.000000,3.000000,2.000000,1.000000,9226.500000
75%,26.000000,176.800000,107.250000,3.000000,3.000000,2.480000,2.000000,13841.750000
max,61.000000,198.000000,173.000000,3.000000,4.000000,3.000000,3.000000,18000.000000

In [ ]:
# Plot histogram for numerical columns
cardiovascular_num.hist(bins="

In [28]:
cardiovascular_cat.value_counts()

Gender  Family_history  Alcohol  Junk_food  Snack       Smoking  Transportation  TV        Discipline  Cardiovascular_risk(y)
Female  yes             low      yes        Sometimes   no       bus             moderate  no          high                      225
                                                                                 rare      no          high                      115
Male    yes             low      yes        Sometimes   no       bus             rare      no          high                      111
                        none     yes        Sometimes   no       bus             moderate  no          high                       64
                        low      yes        Sometimes   no       bus             rare      no          medium                     60
                                                                                                                                ...
                        medium   yes        Always      no       car             moderate  no          high                        1
                                                                                 often     no          high                        1
                                            Frequently  no       bus             moderate  no          low                         1
                                                                                                       medium                      1
Female  no              low      yes        Sometimes   no       walk            often     no          low                         1
Name: count, Length: 405, dtype: int64